.home{
    height: 100vh;
    width: 100%;

    overflow: hidden;

    #bg-video{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: brightness(40%);
        z-index: -1;
    }
    .title-section{
        .title{
            font-size: clamp(2rem,6vw,3.5rem);
        }
        .title-desc{
            color: rgb(201, 201, 201);
            font-size: clamp(.8rem,2.2vw,1.2rem);
        }
        button{
            font-size: clamp(.9rem,2.2vw,1.4rem);
        }
    }
    .school-job-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 25%;
        position: absolute;
        top: 37.5%;
        left: 25%;
        background-color: #181818;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 1px solid white;
        .school-job-title{
            color: red;
            font-size: 24px;
        }
        .school-job-desc{
            font-size: 1rem;
            color: red;
        }
        .exit{
            position: absolute;
            top: 5%;
            right: 3%;
            font-size: 24px;
            color: red;
            border: 1px solid white;
            background-color: black;
            padding: 0 16px;
            cursor: pointer;
        }
    }
}
